
/* banner */
.banner {
  width: 100%;
  margin-top: 80px;
}

.banner img {
  width: 100%;
}
/* banner */

/* section01 */
section {
  width: 100%;
  padding: 16% 0;
  background-color: white;
}

section div {
margin: 0 20px 15%;
}

section div img {
  width: 100%;
  display: block;
}
section div div:nth-child(9){
  margin-bottom: 20%;
}
section div:nth-child(1) {
  margin-bottom: 10%;
}
/* section01 */