

/* banner */
.banner {
  width: 100%;
  margin-top: 80px;
}

.banner img {
  width: 100%;
}
/* banner */

/* section01 */
.sec01 {
  width: 100%;
  padding: 16% 0;
  background-color: white;
}

.sec01 div {
margin: 0px 20px;
}

.sec01 div img {
  width: 100%;
}

.sec01 div:nth-child(1) {
  margin-bottom: 10%;
}
/* section01 */

/* section02 */
.sec02 {
  width: 100%;
  padding-bottom: 16%;
  background-color: white;
}

.sec02 div {
  margin: 0 20px;
}

.sec02 div img {
  width: 100%;
}

.sec02 div:nth-child(1) {
  margin-bottom: 10%;
}
/* section02 */

/* section03 */
.sec03 {
  width: 100%;
}

.sec03 div img {
  width: 100%;
}
/* section03 */

/* section04 */
.sec04 {
  /* width: 100; */
  padding: 16% 0;
  background: #1b1b1b;
}

.sec04 div:nth-child(1) {
  margin-bottom: 10%;
}

.sec04 div {
  padding: 0 20px;
}

.sec04 div img {
  width: 100%;
}

.sec04 div img {
  width: 100%;
}
/* section04 */