
    /*----------------banner----------------*/
    .banner{
      margin-top: 80px;
  }
  .banner img{
      display: block;
      width: 100%;
  }

  /*----------------section01 Media Production----------------*/
  #section01{
      width: 100%;
      padding: 16% 3%;
      box-sizing: border-box;
      background-color: white;
  }
  #section01 .sec01_tit{
      width: 100%;
     margin-bottom: 10%;
     display: block;
  }
  #section01 .sec01_text{
     margin-top: -6%;
     display: block;
     width: 75%;
  }

  /*----------------section02 Media Rendering----------------*/
  #section02{
      width: 100%;
      padding: 16% 3%;
      box-sizing: border-box;
      background: url(images/02_bg.png);
  }
  #section02 .sec02_text{
     margin-top: -10%;
     display: block;
     width: 75%;
     margin-left: 23%;
  }

  /*----------------section03 Media Environment----------------*/
  #section03{
      width: 100%;
      padding: 16% 3%;
      box-sizing: border-box;
      background-color: white;
  }
  #section03 .sec03_text{
     margin-top: -10%;
     display: block;
     width: 75%;
  }